.dfinsell-single-account{
	margin-bottom: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
    max-width: 630px;
    margin-left: 234px;
}
.dfinsell-single-account button{
	border: 1px solid #8264D7;
    color: #8264D7 !important;
    background: #8264D717 !important;
    border-radius: 4px !important;
    padding: 0px 10px !important;
    font-size: 14px !important;
    font-weight: 500;
    cursor: pointer !important;
    border-color: #8264D7 !important;
}
.dfinsell-single-account .dfinsell-status-label{
	margin: 0 !important;
	background: #28A745;
	color: #ffff;
	border-radius: 5px;
	font-size: 13px !important;
	padding: 7px 10px;
	margin-right: 5px !important;
}


.dfinsell-single-account .dfinsell-status-label.invalid,.dfinsell-single-account .dfinsell-status-label.inactive,.dfinsell-single-account .dfinsell-status-labl.unknown{
	background: red;
	
}